__pycache__/
*.pyc

.env

bin/geth.exe
bin/geth
dist/
build/
data/
contracts/abi

chain-data/
logs/
exports/

.pytest_cache/

*.spec
*.exe

.vscode/
.idea/
*.swp
*.swo

.env
*.log

.DS_Store
Thumbs.db